<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Taipei Day Trip</title>
    <link rel="stylesheet" href="../static/css/reset.css">
    <link rel="stylesheet" href="../static/css/attraction.css">
    <script src="../static/js/attraction.js"></script>
</head>
<body>
    <div class="navbar">
        <div id="navbar-title"><a target="_self" href="/">台北一日遊</a></div>
        <div class="navbar-items">
            <div>預定行程</div>
            <div>登入/註冊</div>
        </div>
    </div>
    <div class="separator"></div>


    <div id="carouselAndBooktour">
        <div id="carousel">
            <!-- <div class="carousel-pic"></div>
            <div class="last-btn"></div>
            <div class="next-btn"></div>
            <div class="dots"></div> -->
        </div>
        <div id="book-tour">
            <div class="attraction-name"></div>
            <div class="categoryAndMRT"></div>
            <div class="date-picker"></div>
        </div>
    </div>


    <div id="attraction-details">
        <div class="description"></div>
        <div class="address"></div>
        <div class="transport"></div>
    </div>


    <div class="footer">
        <div>COPYRIGHT © 2021 台北一日遊</div>
    </div>
</body>
</html>