<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Taipei Day Trip</title>
    <link rel="stylesheet" href="../static/css/reset.css">
    <link rel="stylesheet" href="../static/css/index.css">
    <script src="../static/js/index.js"></script>
</head>
<body>
    <div class="navbar">
        <div id="navbar-title"><a target="_self" href="/">台北一日遊</a></div>
        <div class="navbar-items">
            <div>預定行程</div>
            <div>登入/註冊</div>
        </div>
    </div>
    <div class="hero-section">
        <div class="hero-section-wrap">
            <div>
                <div class="hero-title">輕鬆享受台北一日悠閒</div>
                <div class="hero-subtitle">探索每個角落，體驗城市的深度旅遊行程</div>
                <div class="hero-input">
                    <input type="text" id='search-value' placeholder="輸入景點名稱查詢" name="keyword">
                    <div class="search" onclick="handleSearch()">
                        <img src="../static/images/icon_search.png" alt="search">
                    </div>
                </div>
            </div>
            <div id="hero-bg-wrap">
                <img id="hero-bg" src="../static/images/welcome_1.png" alt="hero-bg">
            </div>
        </div>    
    </div>

    <div id="cards-container">
        <!-- <div class="cards">

            <div class="card">
                <img src="./images/mountain-unsplash.jpg" alt="mountain-unsplash">
                <div>Title 2</div>
                <div class='MRTandCAT2'>
                    <div>MRT</div>
                    <div>CAT2</div>
                </div>
            </div>
            
        </div> -->
    </div>
    <div class="footer">
        <div>COPYRIGHT © 2021 台北一日遊</div>
    </div>
</body>
</html>